@page "/"
@using DaftWordGame.Services
@using DaftWordGame.Models
@inject WordGameService wordGameService

@if(gameState != null)
{
    <button @onclick="@NewGame">New Game!</button>
    <div>
        @foreach (var word in gameState?.Words)
        {
            <div class="display-flex word-container">
               
                @foreach (var c in word.Text)
                {
                    var index = IndexFromChar(c);

                    @if (@GuessCorrect(index))
                    {
                        <input tabindex="@GetAndIncrementTabOrder()" class="letter-box @LetterStyle(index)" placeholder="@GetPlaceHolder(c)" 
                            @bind="@guesses[index]" readonly/>    
                    }
                    else
                    {
                        <input class="letter-box @LetterStyle(index)" tabindex="@GetAndIncrementTabOrder()" placeholder="@GetPlaceHolder(c)" 
                            @bind="@guesses[index]" oninput="this.value=this.value.toUpperCase()"/> 
                    }  
                }

                <h3>Definitions</h3>
                @foreach (var def in word.Definitions)
                {
                    <p>@def</p>    
                }
            </div>
        }
    </div>
}
