@page "/"
@using DaftWordGame.Services
@using DaftWordGame.Models
@inject WordGameService wordGameService

@if(gameState != null)
{
    <button @onclick="@NewGame">New Game!</button>
    <div>
        @foreach (var word in gameState?.Words)
        {
            <div class="display-flex">
            @foreach (var c in word)
            {
                var index = IndexFromChar(c);

                @if (@GuessCorrect(index))
                {
                    <input class="letter-box @LetterStyle(index)" placeholder="@GetPlaceHolder(c)" 
                        @bind="@guesses[index]" readonly/>    
                }
                else
                {
                    <input class="letter-box @LetterStyle(index)" placeholder="@GetPlaceHolder(c)" 
                        @bind="@guesses[index]"/> 
                }  
            }
            </div>
        }
    </div>
}
